{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block info_contact%}

{% endblock %}

{% block menu%}
  <a class="dropdown-item" href="{{url_for('login')}}">login</a>
{% endblock %}

{% block principal %}
<div class="container">
    <div class="row">
      <div class="col">
        <img src="../static/images/logo-14-removebg-preview.png">
      </div>
      <div class="col">
        <div class="container">
        {% if email == 'none' %}
            <form method="POST">
                {{ password_form.csrf_token() }}
                <div class="fname floating-label">
                    {{ wtf.form_field(password_form.username, class='floating-input') }}
                </div>
                <div class="email floating-label">
                    {{ wtf.form_field(password_form.submit, class='floating-input') }}
                </div>
            </form>
        {% endif %}
        {% if email != 'none' %}
        <form method="POST">
            {{ password_form.csrf_token() }}
            <div class="fname floating-label">
                {{ wtf.form_field(password_form.username, class='floating-input', value = email) }}
            </div>
            <div class="fname floating-label">
                {{ wtf.form_field(password_form.password, class='floating-input') }}
            </div>
            <div class="email floating-label">
                {{ wtf.form_field(password_form.submit, class='floating-input') }}
            </div>
        </form>
        {% endif %}
        </div>
        {% for message in get_flashed_messages() %}
            <div class="alert-error">{{ message }}</div>
        {% endfor %}
      </div>
    </div>
</div>
{% endblock %}

{% block content %}

{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}