{% extends 'base_dash.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{%block head%}
    {{ super() }}
    <style>
        .dot {
        height: 10px;
        width: 10px;
        background-color:gold;
        border-radius: 50%;
        display: inline-block;
        }
    </style>
{% endblock %}

{%block nav%} 
    {{ super() }}
{% endblock %}

{% block info_contact%}
    {% if  session['id_user_role']  == 2%}
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('proyect', page='index' , id=0)}}">Mis Proyectos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('report')}}">Reportes</a>
        </li>
        {% if notifications.items %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if flag_read%}
                        
                    {% else %}
                        <span class="dot" style="vertical-align: middle; margin-left: 1px; margin-right: 1px;"></span>
                    {% endif %}
                    Notificaciones
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="font-size: 15px;">
                    {% for n in notifications.items%}
                        {% if n.read%}
                            
                        {% else %}
                            <a class="dropdown-item" href="">{{ n.description  }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if flag_read %}
                        <a class="dropdown-item" href="">Sin notificaciones nuevas</a>
                    {% endif %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{url_for('notification' , u = session['id_user'] , page = 1)}}">Ver todas</a>
                    <a class="dropdown-item" href="">Configuracion</a>
                </div>
            </li>
        {% else %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Notificaciones
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="font-size: 15px;">
                    <a class="dropdown-item" href="">Sin notificaciones</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{url_for('notification' , u = session['id_user'] , page = 1)}}">Ver todas</a>
                    <a class="dropdown-item" href="">Configuracion</a>
                </div>
            </li>
        {% endif %}
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block notification%}
    {% if notifications.items %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if flag_read%}
                    
                {% else %}
                    <span class="dot" style="vertical-align: middle; margin-left: 1px; margin-right: 1px;"></span>
                {% endif %}
                Notificaciones
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="font-size: 15px;">
                {% for n in notifications.items%}
                    {% if n.read%}
                        
                    {% else %}
                        <a class="dropdown-item" href="">{{ n.description  }}</a>
                    {% endif %}
                {% endfor %}
                {% if flag_read %}
                    <a class="dropdown-item" href="">Sin notificaciones nuevas</a>
                {% endif %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{url_for('notification' , u = session['id_user'] , page = 1)}}">Ver todas</a>
                <a class="dropdown-item" href="">Configuracion</a>
            </div>
        </li>
    {% else %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Notificaciones
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="font-size: 15px;">
            <a class="dropdown-item" href="">Sin notificaciones</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{url_for('notification' , u = session['id_user'] , page = 1)}}">Ver todas</a>
            <a class="dropdown-item" href="">Configuracion</a>
        </div>
    </li>
    {% endif %}
{% endblock %}

{% block menu%}
 
{% endblock %}

{% block content %}

<div class="container" style="padding-block: 15px;">
    <div class="row">
        <div class="col-sm-12">
            <!-- ############################################################## -->

            <div class="d-flex justify-content-between">
                <div class="p-2"><h3>Proyecto</h3></div>
                <div class="p-2"><a class="dropdown-item" href="{{ url_for('proyect' , page='create' , id=0) }}">Crear Proyecto</a></div>
                {% if  session['id_user_role'] == 1 %}
                <div class="p-2"><a class="dropdown-item" href="{{ url_for('proyect' , page='type' , id=1) }}">Crear Tipo de proyectos</a></div>
                {% endif %}
                <div class="p-2"><a class="dropdown-item" href="{{ url_for('proyect' , page='index' , id=0) }}">Volver</a></div>
                <!-- <a class="dropdown-item" href="{{ url_for('proyect' , page='delete' , id=2) }}">Eliminar Proyectos</a></br> -->
                
            </div>
            <hr>

            <!-- ############################################################## -->

            {% if page == 'create'%}
                <form method="POST" action="{{ url_for('proyect', page='create', id=3) }}">
                    {{ user_proyect_form.csrf_token() }}
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <select name='ddlUsers' class="form-control" >
                                {% for u in users %}
                                    <option value="{{ u.id_user }}" selected>{{ u.email_address }}</option>
                                {% endfor %}
                            </select>
                            
                        </div>
                        <div class="form-group col-md-2">
                        {{ wtf.form_field(user_proyect_form.submit , class="btn btn-primary_1 btn-xl" , style="color: white;" ) }}
                        </div>
                        <div class="form-group col-md-6">
                            <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th scope="col">usuario</th>
                                    <th scope="col">eliminar</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    {% for x, y in users_dict.items() %}
                                    <tr>
                                    <td>{{ y }}</td>
                                    <td><a class="dropdown-item" href="{{ url_for('proyect', page='delete_dict', id=x) }}">X</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                              </table>
                        </div>
                    </div>  
                </form>

                <form method="POST" action="{{ url_for('proyect', page='create_proyect', id=0) }}">
                    {{ proyect_form.csrf_token() }}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ wtf.form_field(proyect_form.proyect_name , class="form-control" ) }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ proyect_form.proyect_type.label }}
                            <select name='ddlptype' class="form-control">
                                {% for t in types %}
                                    <option value="{{ t.id_proyect_type }}" selected>{{ t.description }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            {{ proyect_form.id_client.label }}
                            <select name='ddlclients' class="form-control">
                                {% for c in clients %}
                                    <option value="{{ c.id_user}}" selected>{{ c.company_name }}</option>
                                 {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            {{ proyect_form.type_costs.label }}
                            <select name='ddltypecosts' class="form-control" id='cost_select'>
                                {% for tc in type_costs %}
                                    <option value="{{ tc.id_type_costs}}" selected>{{ tc.description }}</option>
                                 {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            {{ proyect_form.costs.label }}
                            <select name='ddlcosts' class="form-control" id='cost'>
                                {% for c in costs %}
                                    <option value="{{ c.id_costs}}">{{ c.description }}</option>
                                 {% endfor %}
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            {{ wtf.form_field(proyect_form.start_date, class="form-control" ) }}
                        </div>
                            <div class="form-group col-md-5">
                            {{ wtf.form_field(proyect_form.end_date, class="form-control" ) }}
                        </div>
                            <div class="form-group col-md-2">
                            {{ wtf.form_field(proyect_form.hours_estimate , class="form-control" ) }}
                        </div>
                    </div>
                    {{  wtf.form_field(proyect_form.submit , class="btn btn-primary_1 btn-xl" , style="color: white;" , value='Crear Proyecto') }}
                </form>
            {% endif %}

            <!-- ############################################################## -->

            {% if page == 'type'%}
                <form method="POST" action="{{ url_for('proyect', page='create_type', id=1) }}" class="form-inline">
                        {{ proyect_type_form.csrf_token() }}
                        <div class="form-group col-md-4"></div>
                        <div class="form-group mb-2">
                            {{  wtf.form_field(proyect_type_form.proyect_type, class="form-control" , style="padding-left:10px;" , placeholder="Tipo de proyecto" ) }}
                            {% if proyect_type_form.proyect_type.errors %}
                                <ul class="errors">
                                    {% for error in proyect_type_form.proyect_type.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            {{  wtf.form_field(proyect_type_form.submit , class="btn btn-primary_1 btn-xl" , style="color: white;", value='Crear tipo de proyecto') }}
                        </div>
                        <div class="form-group col-md-4"></div>
                </form>
            {% endif %}
            
            <!-- ############################################################## -->

            <div class="d-flex justify-content-center text-center">
                {% for message in get_flashed_messages() %}
                    <div class="p-2">{{ message }}</div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        var cost_select = document.getElementById('cost_select');
        document.getElementById('cost').style.visibility  = 'hidden'; 

        cost_select.onchange = function(){
            cost = cost_select.value;
            if (cost === '2'){
                document.getElementById('cost').style.visibility = 'visible'; 
            }
            else{
                document.getElementById('cost').style.visibility = 'hidden';
            }
        }
    </script>
{% endblock %}